body{
background-image : url("images/fond.jpg");
background-repeat : repeat-x;
background-color : rgb(75,77,74);
font-family: Helvetica, "Trebuchet MS", Verdana, Geneva, Arial;
font-size : 0.75em;
}

#Page{
border-radius : 3px 3px 3px 3px;
box-shadow : 0px 0px 20px #888;
/*min-height :460px;*/
/*min-height : 1555px;*/
width : 763px;
margin-top: 20px;
margin-bottom: 20px;
margin-left : auto;
margin-right : auto;
padding-top: 30px;
padding-bottom : 10px;
padding-right : 10px;
padding-left : 10px;
background-color : rgb(255,255,255);
text-align : justify;
}

#HeaderPremierBloc{
background-image : url("images/header/left.jpg");
background-repeat : no-repeat;
width : 253px;
height : 160px;
float:left;
}

nav{
background-image : url("images/header/center.jpg");
background-repeat : repeat-x;
color : white;
width : 233px;
height : 110px;
float:left;
padding-top: 25px;
padding-bottom : 25px;
padding-right : 10px;
padding-left : 10px;
margin-right : 2px;
margin-left : 2px;
}

nav ul li a{
color : white;
text-decoration:none;
}

nav ul li a:hover{
color : black;
background-color : rgba(255,255,255, 0.19);
text-decoration:none;
}
nav ul{
padding-left: 0 ; 
font-size : 0.8em;
list-style-type: none;
}

nav ul li{
padding : 5px;
border : 2px;
border-bottom-color :  white;
border-bottom-style :  solid;
}

.separationNav{
color : white;
}

#HeaderTroisiemeBloc{
background-image : url("images/header/right.jpg");
background-repeat : no-repeat;
width : 253px;
height : 160px;
float:left;
}

#corps{
background-color : rgb(244,244,244);
clear : both;
}


h1{
font-size : 1.4em;
color : rgb(168,168,168)
}

#contentPlein, #content{
min-height :260px;
background-color : rgb(255,255,255);
}
#contentPlein{
padding-top : 2%;
padding-bottom : 2%;
padding-right : 2%;
padding-left : 2%;
}

#content{
width : 57%;
padding-top : 5%;
padding-bottom : 5%;
padding-right : 10%;
padding-left : 5%;
}

#info{
float : right;
width : 25%;
padding-top : 25px;
padding-bottom : 25px;
padding-right : 10px;
padding-left : 10px;
font-size : 0.7em;
color : rgb(168,168,168);
}

footer{
color : white;
text-align : center;
margin-top : 25px;
}

/*
*
* FORUMLAIRE
*
*/

#content .btndroite{
background-color : rgb(244,244,244);
margin-top : 5%;
margin-bottom : 5%;
border : none;
float : right;
width : 120px;
height : 20px;
}

#content fieldset hr{
border : 1px solid orange;
margin-bottom : 20px;
}

#content fieldset {
border : 1px solid #838383;
color : #838383;
padding-top : 0px;
}

#content fieldset input, #content fieldset select{
width : 170px;
}
#content fieldset select{
 overflow: hidden;
}
#content fieldset input#jDate, #content fieldset input#mDate, #content fieldset input#aDate, #content fieldset input#MinDateDep, #content fieldset input#MinDateArr, #content fieldset input#hDateDep, #content fieldset input#hDateArr{
width : auto;
}

#content fieldset .elemForm{
margin : 2px;
}

label{
display : inline-block;
text-align : right;
padding-right : 2em;
width : 150px;
}

/*
*
* FIN FORMULAIRE
*
*/

/*
*
* LES TABLEAUX
*
*/

a.retour{
color : orange;
}
div#liens{text-align: center;}


#contentPlein table{
width : 95%;
margin-left : auto;
margin-right : auto;
}

#contentPlein .tableaudetail th{
width : 150px;
}


#contentPlein .tableaudetail tr:nth-child(odd){
background-color:rgb(232,232,232);
}
#contentPlein .tableaudetail tr:nth-child(even){
background-color:rgb(245,245,245);
}

#contentPlein .tableauliste tr:nth-child(odd){
background-color:rgb(232,232,232);
}

#contentPlein .tableauliste th:nth-last-child(1), #contentPlein .tableauliste td:nth-last-child(1){
text-align : center;
}
#contentPlein .tableauliste th:nth-child(1), #contentPlein .tableauliste td:nth-child(1){
background-color:rgb(232,232,232);
text-align : center;
}
#contentPlein .tableauliste td{
margin-left : 4px;
margin-right : 4px;
}

a.suppr, a.modif, a.detail{
display: inline-block;
height: 18px;
width: 18px;
}


a.suppr{
background: url("./images/action/croix.png");
}
a.modif{
background: url("./images/action/feuille.png");
}
a.detail{background: url("./images/action/loupe.png");
}


/*
*
* FIN DES TABLEAUX
*
*/


/*
*
* PAGINATION
*
*/
#numerotation{
margin : 20px;
text-align : center;
}

ul#pagination{
padding:5px 0;
display : inline;

}

ul#pagination li
{
border:0; 
margin:0; 
padding:0;
font-size:11px;
list-style:none;
display : inline;

}

ul#pagination a
{
border:solid 1px #DDDDDD;
margin-right:2px;
}

ul#pagination .paginationprecdesact, #pagination .paginationsuivdesact
{
color:#666666;
font-weight:bold;
padding:3px 4px;
display : inline;
}

ul#pagination .paginationsuiv a, #pagination .paginationprec a 
{
font-weight:bold;
border:solid 1px #DDDDDD;
}

ul#pagination .paginationactive
{
color:#ff0084;
font-weight:bold;
padding:4px 6px;
display : inline;
}

ul#pagination a:link, #pagination a:visited 
{
color:#0063e3;
padding:3px 6px;
text-decoration:none;
display : inline;
}

ul#pagination a:hover
{
border:solid 1px #666666;
}
/*
*
* FIN PAGINATION
*
*/


